

  *{
    box-sizing: border-box;
    background-color: #F0F0C9;
  }
  body{
    text-align: center;
  }
  h1{
    position: fixed;
    color: #D8572A;
    top: -2px;
    left: 40%;
  }
  
  
  .di{
    position: fixed;
    background-color: gray;
    width: 364px;
    height: 132px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 90px;
    top: 9%;
    left: 60%;
  }

  .paragraph{
    font-family: cursive;
     background-color: gray;
  }

  .category{
    position:fixed;
    width: 364px;
    height: 28px;
    border-radius: 10px;
    top: 75%;
    left: 10%;
  }
 
 
 
  .submitBtn1{
    font-family: cursive;
    background-color: blue;
    position: fixed;
    border-radius: 10px;
    width: 364px;
    height: 48px;
    top: 80%;
    left: 10%;
  }


  .submitBtn2{
    font-family: cursive;
    background-color: #D8572A;
    position: fixed;
    border-radius: 10px;
    width: 185px;
    height: 33px;
     top: 90%;
    left: 16%;
  }

  .immagine1{
    position: fixed;
    top: 4%;
    left: 16%;
  }

  .immagine2{
    position: fixed;
    top: 58%;
    left: 18%;
  }
 
  
 
 
