body{
    background: rgb(255, 255, 0);
}

.Titolo{
    position: absolute;
    text-align: center;
    top: 10%;
    left: 37%;
    font-size: 60px;
}




.player1, .player2{
    position: relative;
}



.player1::before{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: blue;
    transform: 
    translate(-50%, -50%)
    rotate(45deg)
    
    ;
  }
  
  .player1:after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: blue;
    transform: 
    translate(-50%, -50%)
    rotate(-45deg)
  }


  .player2:before{
    content: "";
    height: 70%;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2px solid red;
    border-radius: 50%;
    transform: 
    translate(-50%, -50%)
  }
  
  .trisGrid{
              display: flex;
              flex-direction: column;
              position: absolute;
              text-align: center;
              top: 50%;
              left: 43%;
              font-size: 60px;
          }
  
          .row{
              display: flex;
          }
  
          .col{
              background: yellow;
              border: 1px solid black;
          }
  
          .gridBtn{
              display: block;
              width: 80px;
              height: 80px;
          }

    .risultato{
        position: absolute;
        top: 40%;
        left: 45%;
        font-size: 30px;
    }
    

    .pulsante{
        position: absolute;
        top: 40%;
        left: 49%;
    }